/*Hero*/
.mind_body-hero{
    background: var(--appColor);

    display: flex;
    justify-content: space-between;
    height:48rem;
    

}


.mind_body-blur{
    background: rgba(215, 209, 204, 0.69);
    width:25rem;
    height:30rem;
    left:0;
    z-index: 0;

}

.left-mb{  
    margin-top: 12rem;
    margin-left:1rem;
    padding: 2rem;
    padding-top: 3rem;
    flex:3;
    display: flex;
    gap:2rem;
    flex-direction: column;
    
}

.mind_body-text{
    
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    color:white;
    text-overflow: inherit;
    z-index: 1;

    
}


.mind_body-text>div:nth-child(1)>span:nth-child(1){
    
    display:flex;
    font-weight:bold;
    font-size:1rem;
    color:var(--orange);

    

}


.mind_body-text>div:nth-child(3){
    font-size: 0.9rem;
    font-weight:200;
    letter-spacing: 1px;
    width: 80%;
    line-height: 2;
}




.figures>div{
    display:flex;
    flex-direction: column;
}

.figures>div>span:nth-child(1){
    color:white;
    font-size:2rem;
}

.figures>div>span:nth-child(2){
    color: var(--gray);

}

.strength_hero-button{
    display: flex;
    font-weight: normal;
    width:10rem

}

.mind_body_hero-button>:nth-child(1){
    color:white;
    background-color: var(--orange);
    width: 10rem;


}

.mind_body_hero-button>:nth-child(1):hover{
    color:white;

    background-color: transparent;
    width:10rem;
    border:2px solid var(--orange);
    
}


.right-mb{
    margin-top: 8rem;
    
    
    position:relative;
}


.mind_body_banner{
    position:absolute;
    top:0rem;
    right: 0rem;
    width:50rem;
    height:40rem;
    z-index:2;

}

.mind_body_banner-circle1{
    position:absolute;
    top:0rem;
    right:15rem;
    z-index:1;
    width:40rem;
    mix-blend-mode: luminosity;

    
}
.mind_body_banner-circle2{
    position:absolute;
    top:0rem;
    right:15rem;
    z-index:1;
    width:40rem;
    mix-blend-mode: luminosity;



}



/*Mind & Body categories*/

.mind_body-categories_page{
    background: #f0f0f0;
    height:80rem;
}



.mind_body-categories{
    display: flex;
    height:48rem;
    

}

.mb-header{
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    font-weight:bold;
    font-size:3rem;
    justify-content: center;
    align-items: center;

}

.mb-header>div>span:nth-child(1){
    color: var(--appColor);
    
}

.mb-header>div>span:nth-child(2){
    color: var(--orange);
}


.mb-intensity-header{
    margin-top:2rem;
    font-size:2rem;
    font-weight: bold;
    margin-left:40rem
}

