.hero{
    
    display: flex;
    justify-content: space-between;
    height:49rem;
    background: var(--appColor);
    

}

.hero-blur{
    background: rgba(253, 128,43, 0.69);
    width:25rem;
    height:30rem;
    left:0;
    z-index: 1;

}

.right-h{
    margin-top: 8rem;
    
    flex:1;
    
    position:relative;
    background-color: var(--orange);
}


.banner{

    position:absolute;
    top: 4rem;
    right: 7rem;
    width:33rem;
    height:37rem;
    z-index:2;
}

.banner-circle1{
    position:absolute;
    top:1rem;
    right:4rem;
    z-index:1;
    width:40rem;
    
}
.banner-circle2{
    position:absolute;
    top:1rem;
    right:4rem;
    z-index:1;
    width:40rem;

}



.left-h{  
    margin-top: 8rem;
    margin-left: 1rem;
    padding: 2rem;
    
    flex:3;
    display: flex;
    gap:2rem;
    flex-direction: column;
    
}


.the-best-ad{
    margin-top: 2rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;

    padding: 20px 13px;
    color:white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.the-best-ad>span{
    z-index: 2;
}

.the-best-ad>div{
    position: absolute;
    background-color: var(--orange);
    width:5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text{
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap:1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    color:white;
    text-overflow: inherit;

    
}


.hero-text>div:nth-child(3){
    font-size: 1rem;
    font-weight:200;
    letter-spacing: 1px;
    width: 80%;
}


.figures{
    display: flex;
    gap: 2rem;
}

.figures>div{
    display:flex;
    flex-direction: column;
}

.figures>div>span:nth-child(1){
    color:white;
    font-size:2rem;
}

.figures>div>span:nth-child(2){
    color: var(--gray);

}



.hero-button{
    display: flex;
    font-weight: normal;
    width:10rem

}

.hero-button>:nth-child(1){
    color:white;
    background-color: var(--orange);
    width: 10rem;


}

.hero-button>:nth-child(1):hover{
    color:white;

    background-color: transparent;
    width:10rem;
    border:2px solid var(--orange);
    
}




.membership_link>a{
  text-decoration: none;
  color:white
}


.memebership_link>a:hover{
  color:white
}


